@use "styles/predefineds"
@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Marchen:700|Noto%20Sans%20Marchen:400')
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto+Mono:wght@100;500&display=swap')

$color-text-white: rgba(255, 255, 255, 0.87)
$color-shadow: #3a3a3a
$color-text-black: #000

:root
  line-height: 1.5
  font-weight: 400

  color: rgba(255, 255, 255, 0.87)
  background-color: #242424

html,body
  margin: 0
  padding: 0

.container
  max-width: 80%
  margin: 0 auto

.nav
  position: fixed
  min-width: 95%
  left: 50%
  transform: translateX(-50%)
  z-index: 2
  user-select: none

  .container
    background: #ccc
    border-radius: 0px 0px 3rem 3rem
    padding: 1rem 2rem
    color: black
    align-items: baseline
    display: flex
    justify-content: space-between

  a
    text-decoration: none
    color: inherit
    transition: color 150ms
    &:hover
      color: #fff
  svg
    margin-left: 0.25rem

nav
  display: flex
  flex-direction: column
  position: fixed
  left: 1rem
  top: 50%
  transform: translateY(-50%)
  font-size: 3rem
  border: 1px solid #515151
  padding: 1rem
  background-color: rgba(51,51,51,0.2)
  border-radius: 2rem

.section
  position: relative
  height: 100vh
  &:not(:first-child) > :first-child
    margin-top: 5vh !important

.main
  display: flex
  color: $color-text-white

  flex-direction: column

  ::selection
    color: black
    background: $color-text-white

  &-p
    margin: 2rem 0

.elevator
  margin: 2rem auto
  outline: 1px solid $color-shadow
  list-style: none
  padding: 2rem 3rem
  background: #303030
  border-radius: 5px
  user-select: none

  li
    padding-bottom: 0.1rem
    margin: 0.5rem
    .elevator-floor:after
      content: ""
      position: absolute
      bottom: 0
      left: 0
      height: 1px
      width: 0
      background: $color-text-white

      transition: width 0.3s ease 0s, left 0.3s ease 0s
    &:hover .elevator-floor:after
      width: 100%
      left: 0
    &:hover .elevator-btn-btn
      background: $color-text-white

      color: $color-text-black

    a
      text-decoration: none
      display: flex
      align-items: center
  &-bot-btns
    display: flex
    margin-top: 2rem
    justify-content: space-between
  &-btn
    display: flex
    background: $color-shadow
    margin-right: 1rem

    justify-content: center
    align-items: center
    border-radius: 20px
    &.green
      border: 2px solid green
      background: r

  &-btn-label
    display: flex
    justify-content: center
    align-items: center
    position: relative
    color: $color-text-white
    margin-left: 5px
    border-radius: 50%

    width: 2rem
    height: 2rem
  &-btn-btn
    display: inline-block
    background: #c0c0c0a6
    color: $color-text-black
    border-radius: 50%
    width: 2rem
    height: 2rem
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid #000
    transition: all 0.3s
    &:hover
      background: $color-text-white

      color: $color-text-black
    &.yellow
      background: #FADA5E

  &-floor
    position: relative
    color: $color-text-white
    text-wrap: nowrap
    letter-spacing: 3px

  &-keyhole
    display: flex
    justify-content: center
    margin-bottom: 2rem

hr
  border: 1px solid $color-shadow

footer
  position: absolute
  bottom: 0
  width: 100%
  background: #ccc
  color: black

#defaultCanvas0
  height: 100vh !important
  width: 100vw !important
  touch-action: none
